<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <img id="background" src="/images/site/checkerboard.jpg" alt="background" width="200" height="200" loading="lazy">
    
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

    <main>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
    </div>
</body>
</html>