<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    res.redirect('/')
<% } %>

<div id="container-register-car">
    <h2>Details</h2>
    <form method="post" class="expand-data" action="/inv/delete">
        
        <!-- <label class="require" for="classification_id">Classification</label>
        <select name="classification_id" id="classification_id">

        <%#- options %>

        </select> -->

        <img src="<%- inv_image %>" alt="imagepath" loading="lazy">

        <input
            type="hidden"
            name="inv_id"
            value="<%- inv_id %>">

        <label class="require" for="inv_make">Make</label>
        <input
            type="text"
            name="inv_make"
            id="inv_make"
            required
            title="Make"
            placeholder="Chevy"
            value="<%- inv_make %>"/>

        <label class="require" for="inv_model">Model</label>
        <input
            type="text"
            name="inv_model"
            id="inv_model"
            required
            title="Model"
            placeholder="Camaro"
            value="<%- inv_model %>"/>

        <label class="require" for="inv_year">Year</label>
        <input
            type="text"
            name="inv_year"
            id="inv_year"
            required
            title="Year"
            placeholder="Just 4 digits"
            pattern="\d{4}"
            value="<%- inv_year %>"/>

        <!-- <label class="require" for="inv_description">Description</label>
        <textarea required
            name="inv_description" 
            id="inv_description"
            cols="3" 
            rows="5"
            role="textbox"> <%#- inv_description %></textarea> -->

        <!-- <label class="require" for="inv_image">Image Path</label>
        <input
            type="text"
            name="inv_image"
            title="Image"
            id="inv_image"
            value="/images/vehicles/no-image.png"/>

        <label class="require" for="inv_thumbnail">Image Path 2</label>
        <input
            type="text"
            id="inv_thumbnail"
            name="inv_thumbnail"
            title="inv_thumbnail"
            value="/images/vehicles/no-image.png"/> -->

        <!-- <label class="require" for="inv_price">Price</label>
        <span>Just Numbers</span>
        <input
            type="number"
            name="inv_price"
            id="inv_price"
            title="Price"
            required
            value="<%#- inv_price %>"/>

        <label class="require" for="inv_miles">Miles</label>
        <input
            type="number"
            name="inv_miles"
            id="inv_miles"
            title="Miles"
            required
            value="<%#- inv_miles %>"/>

        <label class="require" for="inv_color">Color</label>
        <input
            type="text"
            name="inv_color"
            id="inv_color"
            title="Color"
            required
            value="<%#- inv_color %>"/> -->
            
        <!-- <label class="require" for="deleteOrupdate">Update or Delete?</label>
        <select name="deleteOrupdate" id="deleteOrupdate">
            <option value=""></option>
            <option value="1">Update</option>
            <option value="2">Delete</option>
        </select> -->

        <input
            type="submit"
            id="button-submit"
            name="submit"
            value="Delete"/>
    </form>
</div>